body {
    width: 100%;
    margin: 0;
    background-color: #1b1b32;
    color: #1b1b32;
    font-family: Poppins;
    font-size: 15px;
  }

.parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    text-align: center;
    
}

img {
    margin-top: 2%;
    width: 80px;
    height: 80px;
    max-width: 100%;
    max-height: 100%;
}

h3 {
    font-size: 25px;
    text-align: center;
    margin-top: 0%;
}

.terms {
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    width: 450px;
    height: 250px;
    text-align: justify;
    color: linear-gradient(180deg, #1b1b32, #4c4c5e)
}

.terms::-webkit-scrollbar {
    width: 8px;
  }

  .terms::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  .terms::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

.fade {
    width: 500px;
    height: 100px;
    position: absolute;
    top: 230px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    margin-top: 90px;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    color: #ffffff;
    min-width: 300px;
    border-radius: 10px;
  }